@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');
/* Copy/Paste for fonts:  */
/* font-family: 'Chelsea Market', cursive;  */
/* font-family: 'Roboto Mono', monospace;  */



/* PAGE SETUP */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border: 1px solid gray;
    /* Condensed Universal Reset from https://perishablepress.com/a-killer-collection-of-global-css-reset-styles/ */
    vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	/* font-size: 62.5%; */
	/* border: 0 none; */
	outline: 0;
	/* padding: 0; */
	/* margin: 0; */
  }
  html{
    font-size:62.5%;
  }
  body{
    /* line-height:2; */
    font-size:1.5rem;
    font-family: 'Roboto Mono', monospace;
  }
  h1 {
    font-family: 'Chelsea Market', cursive;
  }
  /* h2, h3, h4, a, p {
    font-family: 'Roboto Mono', monospace;
  } */
  /* section{
    padding:4% 0;
  }
  i{
    font-size:4rem;
  } */
  



  /* LINKS */
nav {
    margin: 30px auto; 
    width: 100%;
}

a {
    border: 0;
    padding: 0 5px;
    display: inline-block;
    border-radius: 18px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    width: 15%;
    text-align: center;
}

.planButton {
    background-color: #FF764E;
}

.learnButton {
    background: #5ED3EB;
}

.joinButton {
    background: #FFCD69;
}


/* IMAGES - Sizing & Rounding */
#headerPic {
    border-radius: 50%;
    width: 25%;
}

.icon {
    width: 12%;
}


/* BODY BACKGROUND COLORS */
#quickLook .quickLookText {
    background-color: #DDB9A3;
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.quickLookText p {
    padding: 1.5%;
}

footer {
    background-color:#F9E7DC;
}

#footerPic {
/* hero image setup without the scrolling effects */
}